.loading-map {
    background-color: rgba(0, 0, 0, 0.6 );
    color: white;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
}

.userLocation{
    background-color: "red";
    height: "100vh";
    left: 0;
    position: "fixed";
    top: 0;
    width: "100%";
}

.search-container {
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    left: 20px;
    padding: 7px;
    position: fixed;
    top: 20px;
    width: 350px;
    z-index: 999;
}

.pointer{
    cursor: pointer;
}